BuildData/
BuildTools.jar
BuildTools.log.txt
Bukkit/
CraftBukkit/
Spigot/
apache-maven-3.6.0/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
logs/
ops.json
permissions.yml
plugins/
server.properties
spigot-*.*.*.jar
spigot.yml
usercache.json
whitelist.json
work/
world/
world_nether/
world_the_end/
cp.out
minerepl.log
